 .u-section-1 {
  background-image: url("@/assets/image/speaking/13844554_5369579.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 978px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 807px;
  margin: 105px auto 0;
}

.u-section-1 .u-list-1 {
  width: 346px;
  margin: 77px auto 0 155px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 670px;
  grid-gap: 40px 40px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 162px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 27px 30px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 11px 11px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 15px 11px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 35px 26px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 96px auto 0;
}

.u-section-1 .u-list-2 {
  width: 357px;
  margin: -670px 152px 60px auto;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 671px;
  grid-gap: 40px 40px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 169px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 357px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 11px;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -11px 11px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 17px 11px 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: 41px 17px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 114px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-list-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 720px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -670px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 101px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 8px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 20px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 1px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 70px;
    margin-left: 196px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1098px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
  width: 346px;
  margin: 15px auto 0 15px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 464px;
  grid-gap: 40px 40px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 228px;
  height: 228px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -28px 26px 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-list-2 {
  width: 346px;
  margin: -464px auto 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 464px;
  grid-gap: 40px 40px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 228px;
  height: 228px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -28px 26px 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-list-3 {
  width: 346px;
  margin: -464px 15px 0 auto;
}

.u-section-2 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 464px;
  grid-gap: 40px 40px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 228px;
  height: 228px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -28px 26px 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-list-4 {
  width: 346px;
  margin: 15px auto 0;
}

.u-section-2 .u-repeater-4 {
  grid-template-columns: 100%;
  min-height: 464px;
  grid-gap: 40px 40px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-icon-4 {
  width: 228px;
  height: 228px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -28px 26px 0;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-list-5 {
  width: 346px;
  margin: -464px 15px 0 auto;
}

.u-section-2 .u-repeater-5 {
  grid-template-columns: 100%;
  min-height: 464px;
  grid-gap: 40px 40px;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-icon-5 {
  width: 228px;
  height: 228px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -28px 26px 0;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-list-6 {
  width: 346px;
  margin: -466px auto 53px 15px;
}

.u-section-2 .u-repeater-6 {
  grid-template-columns: 100%;
  min-height: 464px;
  grid-gap: 40px 40px;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-icon-6 {
  width: 228px;
  height: 228px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -28px 26px 0;
}

.u-section-2 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-list-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-list-5 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-2 {
    margin-top: -464px;
  }

  .u-section-2 .u-list-3 {
    margin-top: -464px;
  }

  .u-section-2 .u-list-5 {
    margin-top: -464px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-list-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-list-4 {
    width: 340px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-list-5 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-list-6 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 23px;
    margin-right: 23px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1098px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-3 .u-list-1 {
  width: 346px;
  margin: 15px auto 0 15px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 464px;
  grid-gap: 40px 40px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-icon-1 {
  width: 228px;
  height: 228px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -28px 26px 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-list-2 {
  width: 346px;
  margin: -464px auto 0;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 464px;
  grid-gap: 40px 40px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-icon-2 {
  width: 228px;
  height: 228px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -28px 26px 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-list-3 {
  width: 346px;
  margin: -464px 15px 0 auto;
}

.u-section-3 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 464px;
  grid-gap: 40px 40px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-icon-3 {
  width: 228px;
  height: 228px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -28px 26px 0;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-list-4 {
  width: 346px;
  margin: 15px auto 0;
}

.u-section-3 .u-repeater-4 {
  grid-template-columns: 100%;
  min-height: 464px;
  grid-gap: 40px 40px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-icon-4 {
  width: 228px;
  height: 228px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -28px 26px 0;
}

.u-section-3 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-list-5 {
  width: 346px;
  margin: -464px 15px 0 auto;
}

.u-section-3 .u-repeater-5 {
  grid-template-columns: 100%;
  min-height: 464px;
  grid-gap: 40px 40px;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-icon-5 {
  width: 228px;
  height: 228px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -28px 26px 0;
}

.u-section-3 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-list-6 {
  width: 346px;
  margin: -466px auto 53px 15px;
}

.u-section-3 .u-repeater-6 {
  grid-template-columns: 100%;
  min-height: 464px;
  grid-gap: 40px 40px;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-icon-6 {
  width: 228px;
  height: 228px;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -28px 26px 0;
}

.u-section-3 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-list-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-list-5 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-2 {
    margin-top: -464px;
  }

  .u-section-3 .u-list-3 {
    margin-top: -464px;
  }

  .u-section-3 .u-list-5 {
    margin-top: -464px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-list-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-list-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-list-4 {
    width: 340px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-list-5 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-list-6 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 23px;
    margin-right: 23px;
  }
}