 .u-section-1 {
  background-image: url("@/assets/image/home_image/orq_fon_2.jpg");
  background-position: 50% 50%;
  background-size: auto 110%;
}

.u-section-1 .u-sheet-1 {
  min-height: 961px;
}

.u-section-1 .u-image-1 {
  width: 391px;
  height: 391px;
  background-image: url("@/assets/image/home_image/SpeakUpWallpaper1.png");
  background-position: 50% 50%;
  margin: 55px 77px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -101px 468px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  color: rgb(235, 186, 22) !important;
  margin: -285px 231px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-size: 1.25rem;
  margin: 263px 543px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-transform: none;
  font-weight: 600;
  background-image: none;
  margin: 129px auto 60px 18px;
  padding: 18px 57px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 268px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 343px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 48px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 123px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 173px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 36.37% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -50px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 109px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 834px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 31px 0 0;
}

.u-section-2 .u-list-1 {
  width: 994px;
  margin: 65px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 567px;
  grid-gap: 30px 30px;
  grid-auto-columns: calc(50% - 15px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-2 .u-text-2 {
  font-family: Poppins;
  font-size: 1.875rem;
  margin: 9px 84px 0 99px;
}

.u-section-2 .u-text-3 {
  font-family: Poppins;
  font-size: 1.5rem;
  margin: 35px 25px 0 40px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 195px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-2 .u-text-4 {
  font-family: Poppins;
  font-size: 1.875rem;
  margin: 9px 84px 0 99px;
}

.u-section-2 .u-text-5 {
  font-family: Poppins;
  font-size: 1.5rem;
  margin: 35px 25px 0 40px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 195px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 535px;
  }

  .u-section-2 .u-text-2 {
    width: 215px;
    margin-left: 72px;
    margin-right: 57px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 11px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: 215px;
    margin-left: 72px;
    margin-right: 57px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 11px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 337px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -123px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 217px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2.25rem;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 21px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 222px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  height: 132px;
  width: 353px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -13px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 179px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 183px;
  }

  .u-section-3 .u-image-1 {
    height: 117px;
    width: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 140px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 90px;
    width: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 26px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin-top: 22px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 198px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 688px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -49px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 602px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  line-height: 2.2;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 602px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 542px;
  grid-gap: 10px;
}

.u-section-4 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-image-1 {
  width: 120px;
  height: 120px;
  background-image: url("@/assets/image/home_image/e.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  letter-spacing: 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 29px auto 0;
}

.u-section-4 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  margin: 22px auto 0;
}

.u-section-4 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  width: 120px;
  height: 120px;
  background-image: url("@/assets/image/home_image/bfc62dcf-11dc-f72c-9f80-d5d6784457fc.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  letter-spacing: 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 29px auto 0;
}

.u-section-4 .u-text-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  margin: 22px auto 0;
}

.u-section-4 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("@/assets/image/home_image/tytyt54.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  letter-spacing: 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.51;
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 29px auto 0;
}

.u-section-4 .u-text-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  margin: 22px auto 0;
}

.u-section-4 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-image-4 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("@/assets/image/home_image/trtrrt.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  letter-spacing: 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 29px auto 0;
}

.u-section-4 .u-text-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  margin: 22px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 438px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1709px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 628px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 375px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 61px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 24px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(7, calc(14.2857% - 8.57143px));
  min-height: 190px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-image-4 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-image-5 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px;
}

.u-section-5 .u-image-6 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-7 {
  padding: 10px;
}

.u-section-5 .u-image-7 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 2px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(7, calc(14.285714285714286% - 8.57143px));
    min-height: 155px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5000012499999995px));
    min-height: 435px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -470px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 748px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1090px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -371px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 578px;
}

.u-section-6 .u-list-1 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 368px;
  grid-gap: 20px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -25px auto 0;
  padding: 18px;
}

.u-section-6 .u-text-1 {
  letter-spacing: normal;
  font-size: 1.25rem;
  width: 367px;
  text-transform: none;
  font-weight: 700;
  margin: 70px auto 0;
}

.u-section-6 .u-text-2 {
  font-style: normal;
  width: 367px;
  margin: 17px auto 0;
}

.u-section-6 .u-image-1 {
  width: 167px;
  height: 167px;
  background-image: url("@/assets/image/home_image/happy-bearded-young-man-looks-with-joyful-expression-has-friendly-smile-wears-yellow-sweater-red-hat.jpg");
  background-position: 50% 50%;
  margin: 60px auto -60px;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -25px auto 0;
  padding: 18px;
}

.u-section-6 .u-text-3 {
  letter-spacing: normal;
  font-size: 1.25rem;
  text-transform: none;
  width: 367px;
  font-weight: 700;
  margin: 70px auto 0;
}

.u-section-6 .u-text-4 {
  font-style: normal;
  width: 367px;
  margin: 17px auto 0;
}

.u-section-6 .u-image-2 {
  width: 167px;
  height: 167px;
  background-image: url("@/assets/image/home_image/positive-business-woman-posing-camera-outdoors.jpg");
  background-position: 14.07% 50%;
  margin: 60px auto -60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 302px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-6 .u-text-1 {
    width: 320px;
  }

  .u-section-6 .u-text-2 {
    width: 320px;
  }

  .u-section-6 .u-text-3 {
    width: 320px;
  }

  .u-section-6 .u-text-4 {
    width: 320px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 460px;
}

.u-section-7 .u-list-1 {
  margin-top: 60px;
  margin-bottom: -5px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  min-height: 340px;
  grid-gap: 31px 31px;
  grid-auto-columns: calc(50% - 15.5px);
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  width: 123px;
  height: 123px;
  background-image: none;
  margin: 0 auto;
  padding: 31px;
}

.u-section-7 .u-text-1 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 35px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  width: 123px;
  height: 123px;
  background-image: none;
  margin: 0 auto;
  padding: 31px;
}

.u-section-7 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 35px 0 0;
}

.u-section-7 .u-text-4 {
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 17px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20.6667px));
    min-height: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15.5px));
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 735px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 638px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-8 .u-image-1 {
  width: 516px;
  height: 516px;
  margin: 0 auto;
}

.u-section-8 .u-icon-1 {
  width: 128px;
  height: 128px;
  background-image: none;
  margin: -516px 0 388px auto;
  padding: 20px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 638px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-8 .u-form-1 {
  height: 488px;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-8 .u-label-1 {
  font-weight: 500;
  text-transform: none;
}

.u-section-8 .u-input-1 {
  background-image: none;
}

.u-section-8 .u-label-2 {
  font-weight: 500;
  text-transform: none;
}

.u-section-8 .u-input-2 {
  background-image: none;
}

.u-section-8 .u-form-group-3 {
  margin-left: 0;
}

.u-section-8 .u-label-3 {
  font-weight: 500;
  text-transform: none;
}

.u-section-8 .u-input-3 {
  background-image: none;
}

.u-section-8 .u-label-4 {
  font-weight: 500;
  text-transform: none;
}

.u-section-8 .u-input-4 {
  background-image: none;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-8 .u-image-1 {
    width: 418px;
    height: 418px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: -418px;
    margin-left: 273px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 526px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: -147px;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-image-1 {
    width: 268px;
    height: 268px;
    margin-left: 38px;
  }

  .u-section-8 .u-icon-1 {
    width: 87px;
    height: 87px;
    margin-top: -268px;
    margin-bottom: 181px;
    margin-left: 235px;
    padding: 13px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-8 .u-container-layout-2 {
    padding: 13px 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 37px;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-8 .u-image-1 {
    margin-left: auto;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 274px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 533px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 328px;
  }

  .u-section-8 .u-image-1 {
    margin-left: 33px;
  }

  .u-section-8 .u-icon-1 {
    margin-bottom: 0;
    margin-left: 220px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

.u-block-c9e1-56:not([data-block-selected]):not([data-cell-selected]),
.u-block-c9e1-56:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c9e1-56:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-c9e1-56:not([data-block-selected]):not([data-cell-selected]).u-block-c9e1-56:not([data-block-selected]):not([data-cell-selected]).u-block-c9e1-56:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-c9e1-56:not([data-block-selected]):not([data-cell-selected]).u-block-c9e1-56:not([data-block-selected]):not([data-cell-selected]).u-block-c9e1-56:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-c9e1-56:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c9e1-56:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-c9e1-55:not([data-block-selected]):not([data-cell-selected]),
.u-block-c9e1-55:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c9e1-55:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-c9e1-55:not([data-block-selected]):not([data-cell-selected]).u-block-c9e1-55:not([data-block-selected]):not([data-cell-selected]).u-block-c9e1-55:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-c9e1-55:not([data-block-selected]):not([data-cell-selected]).u-block-c9e1-55:not([data-block-selected]):not([data-cell-selected]).u-block-c9e1-55:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout:hover .u-block-c9e1-55:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c9e1-55:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-9 {
  background-image: url("@/assets/image/home_image/13844554_5369579.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 936px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 3.5rem;
  width: 749px;
  margin: 32px auto 0;
}

.u-section-9 .u-list-1 {
  width: 357px;
  margin: 84px auto 0 22px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 602px;
  grid-gap: 40px 40px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-group-1 {
  min-height: 149px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px 11px 0;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 22px 11px 0;
}

.u-section-9 .u-text-4 {
  width: 160px;
  margin: 55px auto 0;
}

.u-section-9 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 86px auto 0;
  padding: 17px 41px 18px 40px;
}

.u-section-9 .u-list-2 {
  width: 351px;
  margin: -601px 389px 0 auto;
}

.u-section-9 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 602px;
  grid-gap: 40px 40px;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 0;
}

.u-section-9 .u-group-2 {
  min-height: 149px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-9 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px 11px 0;
}

.u-section-9 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 22px 11px 0;
}

.u-section-9 .u-text-7 {
  margin: 55px 15px 0 auto;
}

.u-section-9 .u-btn-2 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 84px auto 0;
  padding: 19px 41px 20px 40px;
}

.u-section-9 .u-list-3 {
  width: 356px;
  margin: -601px 11px -450px auto;
}

.u-section-9 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 602px;
  grid-gap: 40px 40px;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
}

.u-section-9 .u-container-layout-5 {
  padding: 0;
}

.u-section-9 .u-group-3 {
  min-height: 149px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-9 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-9 .u-text-8 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px 11px 0;
}

.u-section-9 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 22px 11px 0;
}

.u-section-9 .u-text-10 {
  margin: 139px auto 0;
}

.u-section-9 .u-btn-3 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 138px auto 0;
  padding: 19px 41px 20px 40px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-9 .u-group-1 {
    height: auto;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 41px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 221px;
  }

  .u-section-9 .u-group-2 {
    height: auto;
  }

  .u-section-9 .u-group-3 {
    height: auto;
  }

  .u-section-9 .u-text-10 {
    margin-top: 46px;
  }

  .u-section-9 .u-btn-3 {
    margin-top: 186px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-9 .u-text-1 {
    width: 720px;
    font-size: 2.25rem;
  }

  .u-section-9 .u-list-2 {
    margin-right: 369px;
  }

  .u-section-9 .u-text-7 {
    margin-top: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 231px;
  }

  .u-section-9 .u-list-2 {
    margin-right: 189px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-text-7 {
    margin-top: 55px;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 234px;
  }

  .u-section-9 .u-list-3 {
    margin-top: 20px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-btn-3 {
    margin-top: 196px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-9 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 3px;
    margin-right: 2px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 78px;
  }

  .u-section-9 .u-list-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-9 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 6px;
    margin-right: 5px;
  }

  .u-section-9 .u-list-3 {
    width: 340px;
    margin-top: -601px;
    margin-right: 0;
  }

  .u-section-9 .u-text-8 {
    font-size: 1.5rem;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-9 .u-text-9 {
    margin-left: 3px;
    margin-right: 3px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 179px;
}

.u-section-10 .u-countdown-1 {
  margin: 22px 19px 0 auto;
  padding: 0;
}

.u-section-10 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-10 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-10 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-10 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-10 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-10 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-10 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-10 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-10 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-10 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-10 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-10 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-10 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-10 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-10 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-10 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-10 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-10 .u-text-1 {
  line-height: 1.3;
  font-weight: 700;
  margin: -66px 258px 0 0;
}

.u-section-10 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -51px 19px 19px auto;
  padding: 19px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-countdown-1 {
    margin-right: 0;
  }

  .u-section-10 .u-text-1 {
    margin-right: 58px;
  }

  .u-section-10 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-right: 0;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 661px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 504px;
}

.u-section-11 .u-container-layout-1 {
  box-shadow: 0px 3px 12px 9px rgba(128,128,128,1);
  padding: 0;
}

.u-section-11 .u-text-1 {
  margin: 23px 25px 0;
}

.u-section-11 .u-image-1 {
  height: 282px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
  width: 508px;
  margin: 14px auto 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 504px;
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  box-shadow: 0px 0px 10px 7px rgba(128,128,128,1);
  padding: 10px 7px;
}

.u-section-11 .u-text-2 {
  margin: 13px 25px 0;
}

.u-section-11 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 33px 0 58px auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-11 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-image-1 {
    height: 253px;
    width: 456px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-11 .u-container-layout-2 {
    border-style: double;
  }

  .u-section-11 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-image-1 {
    height: 192px;
    width: 346px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 357px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-image-1 {
    height: 189px;
    width: 340px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 179px;
}

.u-section-12 .u-countdown-1 {
  margin: 22px 19px 0 auto;
  padding: 0;
}

.u-section-12 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-12 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-12 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-12 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-12 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-12 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-12 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-12 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-12 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-12 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-12 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-12 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-12 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-12 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-12 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-12 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-12 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-12 .u-text-1 {
  line-height: 1.3;
  font-weight: 700;
  margin: -66px 258px 0 0;
}

.u-section-12 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -51px 19px 19px auto;
  padding: 19px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-countdown-1 {
    margin-right: 0;
  }

  .u-section-12 .u-text-1 {
    margin-right: 58px;
  }

  .u-section-12 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    margin-right: 0;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 661px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 504px;
}

.u-section-13 .u-container-layout-1 {
  box-shadow: 0px 3px 12px 9px rgba(128,128,128,1);
  padding: 0;
}

.u-section-13 .u-text-1 {
  margin: 23px 25px 0;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 504px;
  background-image: none;
}

.u-section-13 .u-container-layout-2 {
  box-shadow: 0px 0px 10px 7px rgba(128,128,128,1);
  padding: 10px 7px;
}

.u-section-13 .u-text-2 {
  margin: 13px 25px 0;
}

.u-section-13 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 33px 0 58px auto;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-13 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-13 .u-container-layout-2 {
    border-style: double;
  }

  .u-section-13 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 357px;
  }
}